*{
  margin: 0px;
  padding: 0px;
}
nav{
  background: blue;
  color: white;
  display: flex;
  padding: 10px;
  text-align:center ;
  justify-content: space-between;
}
h1{
  display: flex;
  
  font-size:  30px;
  margin-bottom: 5px;
}
img{
margin: 5px;
  display: flex;
  height: 50px;
  margin-top: 5px;
  align-self:  center;

}
a{
  color: white;
  text-decoration: none;
  /* padding: 5px; */
  margin-top: 5px;
}
ul {
  justify-content: space-between;
  display: flex;
  gap:25px;
  list-style-type: none;  
}
ul li {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.Home img{

  display: flex;
  justify-content: center;
}

.product-card {
      width: 250px;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 16px;
      text-align: center;
      font-family: Arial, sans-serif;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
       display: flex;
       
    }

    .product-card img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }

    .product-name {
      font-size: 18px;
      font-weight: bold;
      margin: 10px 0;
    }

    .price {
      color: green;
      font-size: 16px;
      margin-bottom: 12px;
    }

    .btn {
      background-color: black;
      color: yellow;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }

    .btn:hover {
      background-color: yellow;
      color: black;
    }


